# SPDX-FileCopyrightText: 2025 Qingcheng.AI
#
# SPDX-License-Identifier: Apache-2.0

quant: 
- model: '.'
  rules:
    - regex: 'kv_b_proj'
    - regex: 'q_a_proj'
      type: ascend_w8a8_dynamic
      kwargs:
        weight_scale_dtype: torch.float
    - regex: 'kv_a_proj_with_mqa'
      type: ascend_w8a8_dynamic
      kwargs:
        weight_scale_dtype: torch.float
    - regex: 'q_b_proj'
      type: ascend_w8a8_dynamic
      kwargs:
        weight_scale_dtype: torch.float
    - regex: '\.self_attn'
      type: ascend_w8a8_dynamic
    - regex: '\.mlp.moe'
      type: ascend_w8a8_dynamic
    - regex: '\.mlp.experts\.'
      type: ascend_w8a8_dynamic
    - regex: '\.mlp.shared_experts'
      type: ascend_w8a8_dynamic
    - regex: '\.mlp.gate_proj'
      type: ascend_w8a8_dynamic
    - regex: '\.mlp.gate_up_proj'
      type: ascend_w8a8_dynamic
    - regex: '\.mlp.up_proj'
      type: ascend_w8a8_dynamic
    - regex: '\.mlp.down_proj'
      type: ascend_w8a8_dynamic